// applies base styles to elements
@mixin elr-base {
    ul,
    ol {
        margin: 0;
        padding: 0;
    }

    li,
    dd,
    dt {
        margin: 0;
        padding: to-rems(5px) 0;
    }

    li {
        margin-left: to-rems(30px);
    }

    dl {
        padding: 0;
        margin: 0;
    }

    dt {
        font-weight: $bold;
        padding-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem;
        margin: 0;
        padding: to-rems(10px) 0;
        font-weight: $normal;
        line-height: 1.2;
    }

    h1,
    .h1 {
        font-size: to-rems($h1);

        @include elr-breakpoint('jupiter') {
            font-size: to-rems($h1 - 8);
        }

        @include elr-breakpoint('saturn') {
            font-size: to-rems($h1 - 16);
        }

        @include elr-breakpoint('neptune') {
            font-size: to-rems($h1 - 24);
        }
    }

    h2,
    .h2 {
        font-size: to-rems($h2);

        @include elr-breakpoint('jupiter') {
            font-size: to-rems($h2 - 5);
        }

        @include elr-breakpoint('saturn') {
            font-size: to-rems($h2 - 10);
        }

        @include elr-breakpoint('neptune') {
            font-size: to-rems($h2 - 15);
        }
    }

    h3,
    .h3 {
        font-size: to-rems($h3);

        @include elr-breakpoint('jupiter') {
            font-size: to-rems($h3 - 4);
        }

        @include elr-breakpoint('saturn') {
            font-size: to-rems($h3 - 8);
        }

        @include elr-breakpoint('neptune') {
            font-size: to-rems($h3 - 12);
        }
    }

    h4,
    .h4 {
        font-size: to-rems($h4);

        @include elr-breakpoint('jupiter') {
            font-size: to-rems($h4 - 4);
        }

        @include elr-breakpoint('saturn') {
            font-size: to-rems($h4 - 6);
        }

        @include elr-breakpoint('neptune') {
            font-size: to-rems($h4 - 8);
        }
    }

    h5,
    .h5 {
        font-size: to-rems($h5);

        @include elr-breakpoint('saturn') {
            font-size: to-rems($h5 - 2);
        }

        @include elr-breakpoint('neptune') {
            font-size: to-rems($h5 - 4);
        }
    }

    h6,
    .h6 {
        font-size: to-rems($h6);

        @include elr-breakpoint('saturn') {
            font-size: to-rems($h6 - 2);
        }

        @include elr-breakpoint('neptune') {
            font-size: to-rems($h6 - 4);
        }
    }

    mark {
        background-color: $accent-color;
        color: $white;
        padding-left: to-rems(3px);
        padding-right: to-rems(3px);
    }

    p {
        font-size: to-rems($default-font-size);
        margin: 0;
        padding: 0 0 to-rems(10px);

        @include elr-breakpoint('neptune') {
            font-size: to-rems($default-font-size - 2);
        }
    }

    small {
        font-size: to-rems($default-font-size - 4);
    }

    blockquote {
        margin: 0;
        padding: to-rems(10px);
        font-style: italic;
    }

    cite {
        font-style: normal;
    }

    pre {
        @include elr-context-box('custom', 3px, $lightest-grey, 80%, $text-color);
        font-size: to-rems(14px);
        margin-top: to-rems(20px);
        margin-bottom: to-rems(20px);
        white-space: pre-wrap;
        word-wrap: break-word;

        @include elr-breakpoint('neptune') {
            width: 100%;
        }
    }

    a {
        text-decoration: underline;
        color: $link-color;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    input,
    select,
    textarea,
    fieldset {
        // font-family: $font-family;
        font-size: $default-font-size#{px};
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
    }

    label {
        vertical-align: middle;
    }

    input[type=text],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=time],
    input[type=url],
    input[type=week] {
        height: to-rems(30px);
        padding: to-rems(10px);
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
    }

    select,
    textarea {
        line-height: 1.75;
        padding: to-rems(10px);
    }

    select:not([multiple]) {
        height: to-rems(30px);
        vertical-align: middle;
    }

    button {
        cursor: pointer;
        // font-family: $font-family;
    }
}
