// scss-lint:disable ImportantRule
// Layout Classes

@mixin elr-layout-classes() {

    .elr-pull-left {
        float: left !important;
    }

    .elr-pull-right {
        float: right !important;
    }

    .elr-no-float {
        float: none !important;
    }

    .elr-clear {
        @include elr-clearfix;
    }

    .elr-center-block {
        @include elr-center-block;
    }

    .elr-screen-reader {
        @include elr-screen-reader;
    }

    .elr-no-margin {
        margin: 0 !important;
    }

    .elr-no-padding {
        padding: 0 !important;
    }

    .elr-no-background {
        background: transparent !important;
    }

    .elr-no-border {
        border: 0 !important;
    }

    .elr-o-hidden {
        overflow: hidden !important;
    }

    .elr-o-scroll {
        overflow: scroll !important;
    }

    .elr-o-scroll-x {
        overflow-x: scroll !important;
        overflow-y: hidden;
    }

    .elr-o-scroll-y {
        overflow-x: hidden;
        overflow-y: scroll !important;
    }
}

@mixin elr-flex-classes() {
    .elr-flex {
        display: flex;
    }

    .elr-flex-row {
        flex-direction: row;
    }

    .elr-flex-column {
        flex-direction: column;
    }

    .elr-flex-wrap {
        flex-wrap: wrap;
    }

    .elr-flex-center {
        align-items: center;
    }

    .elr-flex-baseline {
        align-items: baseline;
    }

    .elr-flex-stretch {
        align-items: stretch;
    }

    .elr-flex-start {
        align-items: flex-start;
    }

    .elr-flex-end {
        align-items: flex-end;
    }

    .elr-flex-justify {
        justify-content: space-between;
    }

    .elr-flex-auto {
        flex: 1 1 auto;
        min-width: 0;
        min-height: 0;
    }

    .elr-flex-grow {
        flex: 1 0 auto;
    }

    .elr-flex-first {
        order: -1;
    }

    .elr-flex-last {
        order: 99999;
    }
}

@mixin elr-positioning-classes() {
    .elr-static {
        position: static;
    }

    .elr-absolute {
        position: absolute;
    }

    .elr-relative {
        position: relative;
    }

    .elr-fixed {
        position: fixed;
    }
}

@mixin elr-display-classes() {
    .elr-block {
        display: block;
    }

    .elr-inline {
        display: inline;
    }

    .elr-inline-block {
        display: inline-block;
    }

    .elr-none {
        display: none;
    }
}
