@mixin elr-nested-columns($config: ()) {
    $config: extend((
        column-count: 12
    ), $config);

    $column-count: map-get($config, column-count);

    .elr-row {
        .elr-container {
            width: 100%;
        }

        // @for $i from 1 through $column-count {

        //     .elr-col-#{$i} {
        //         margin-bottom: 0;
        //     }

        //     .elr-col-full,
        //     .elr-col-half,
        //     .elr-col-two-thirds,
        //     .elr-col-third,
        //     .elr-col-quarter,
        //     .elr-col-fifth,
        //     .elr-col-four-fifths,
        //     .elr-col-three-fourths {
        //         margin-bottom: 0;
        //     }
        // }
    }
}
