// Forms
// scss-lint:disable QualifyingElement

@mixin elr-tabular-form($config: ()) {
    $config: extend((
        bk-color: $lightest-grey,
        border: $grey,
        button-color: $dark-grey
    ), $config);

    // @include elr-form($bk-color, $border);
    $bk-color: map-get($config, bk-color);
    $border: map-get($config, border);
    $button-color: map-get($config, button-color);

    label,
    input,
    select {
        display: block;
    }

    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    select,
    label,
    textarea {
        width: 100%;
    }

    [type="submit"],
    button {
        margin: to-rems(5px) to-rems(5px) to-rems(5px) 0;
    }

    .elr-inline-control-group {
        margin-top: to-rems(5px);
    }
}

@mixin elr-inline-form($config: ()) {
    $config: extend((
        bk-color: $lightest-grey,
        border: $grey,
        button-color: $dark-grey
    ), $config);

    $bk-color: map-get($config, bk-color);
    $border: map-get($config, border);
    $button-color: map-get($config, button-color);

    @include elr-clearfix;
    // @include elr-form($bk-color, $border);

    padding-left: 0;

    label {
        font-size: to-rems(14px);
        display: inline;
        vertical-align: middle;
    }

    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    textarea {
        margin: 0 to-rems(10px);
    }

    label,
    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    textarea,
    [type="submit"],
    button {
        display: inline-block;
    }

    [type="submit"],
    button,
    [type="submit"][disabled],
    button[disabled] {
        margin: 0 to-rems(5px) to-rems(5px) 0;
        display: inline-block;
    }

    .elr-inline-control-group {
        height: to-rems(50px);
    }

    .elr-control-group {
        margin: 0 to-rems(20px);
        display: inline-block;

        [type="checkbox"],
        [type="radio"] {
            margin-top: to-rems(14px);
        }
    }
}
