// Forms
// scss-lint:disable QualifyingElement

@mixin elr-form($config: ()) {
    $config: extend((
        bk-color: $lightest-grey,
        border: $grey,
        button-color: $link-color
    ), $config);

    $bk-color: map-get($config, bk-color);
    $border: map-get($config, border);
    $button-color: map-get($config, button-color);

    padding-top: to-rems(10px);
    padding-bottom: to-rems(10px);
    width: 100%;

    .elr-col-full {
        padding-left: 0;
        padding-right: 0;
    }

    .elr-col-half,
    .elr-col-third,
    .elr-col-quarter {
        padding-left: 0;
        padding-right: to-rems(10px);

        @include elr-breakpoint($config: (point: 'saturn')) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .elr-col-half:first-child,
    .elr-col-third:first-child,
    .elr-col-quarter:first-child {
        padding-left: 0;
        padding-right: to-rems(10px);

        @include elr-breakpoint($config: (point: 'saturn')) {
            padding-right: 0;
        }
    }

    .elr-col-half:last-child,
    .elr-col-third:last-child,
    .elr-col-quarter:last-child {
        padding-left: to-rems(10px);
        padding-right: 0;

        @include elr-breakpoint($config: (point: 'saturn')) {
            padding-right: 0;
        }
    }

    small {
        display: block;
        color: $grey;
        margin: 0 0 to-rems(20px) to-rems(5px);
        padding: 0;
    }

    label {
        font-size: to-rems(14px);
        margin: 0;
    }

    input,
    textarea,
    select {
        @include elr-form-state(
            $config: (
                bk-color: $bk-color,
                border: $border
            )
        );
        font-size: to-rems(14px);
        border-radius: to-rems(3px);

        &.hidden-field {
            display: none;
        }
    }

    input,
    textarea {
        margin: to-rems(5px) 0;
        padding: to-rems(5px) to-rems(15px);
    }

    select {
        margin: 0;
        padding: 0 to-rems(10px);
    }

    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    textarea,
    select:not([type="multiple"]) {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .elr-select-wrapper {
        @include elr-select;
    }

    select {
        height: to-rems(30px);
    }

    [multiple] {
        height: auto;
        padding: to-rems(10px);
        margin-top: to-rems(5px);
    }

    [type="checkbox"],
    [type="radio"] {
        display: inline;
        padding: to-rems(4px) to-rems(4px) 0 0;
    }

    .elr-control-label {
        margin: 0;
        padding: to-rems(5px) 0 0;
    }

    .elr-tabular-control-group {
        padding: to-rems(15px) 0;
    }

    .elr-control-group {
        // padding: 5px 0;

        label {
            padding: 0;
            display: inline;
            line-height: normal;
            vertical-align: middle;
        }

        [type="checkbox"],
        [type="radio"] {
            display: inline-block;
            margin: 0 to-rems(10px) 0 0;
            padding: 0;
        }
    }

    .elr-inline-control-group {
        @include elr-clearfix;
        float: left;
        margin: 0 0 to-rems(10px) to-rems(15px);

        &:first-child {
            margin-left: 0;
        }

        label {
            font-size: to-rems(14px);
            display: inline;
            vertical-align: middle;
        }

        [type="text"],
        [type="tel"],
        [type="email"],
        [type="password"],
        [type="url"],
        textarea,
        select {
            width: auto;
            display: inline-block;
            margin: 0 0 0 to-rems(15px);
        }

        select {
            margin-top: 0;
            padding-right: to-rems(30px);
        }

        .elr-select-wrapper {
            padding-top: to-rems(10px);
            display: inline;

            &:after {
                top: 45%;
                transform: none;
            }
        }

        .elr-control-group {
            margin-left: -10px;
            margin-right: to-rems(15px);
            float: left;

            [type="checkbox"],
            [type="radio"] 1 {
                margin-top: 0;
                margin-left: to-rems(10px);
            }
        }

        [type="submit"],
        [type="button"],
        button {
            margin-top: -5px;
        }
    }

    [type="submit"],
    [type="button"],
    button,
    [type="submit"][disabled],
    button[disabled] {
        @include elr-button($config:(width: 180px));
        display: block;
    }

    [type="submit"],
    [type="button"],
    button {
        @include elr-button-link($config: (bg-color: $button-color));
        margin: to-rems(10px) 0;
    }

    [type="submit"][disabled],
    button[disabled] {
        @include elr-button-link(
            $config: (
                bg-color: lighten($button-color, 10%),
                border-color: lighten($button-color, 10%)
            )
        );

        &:hover {
            cursor: not-allowed;
            background-color: lighten($button-color, 10%);
            border-color: lighten($button-color, 10%);
            color: $white;
            transition: none;
        }
    }
}
