// Lists

// An unstyled list

@mixin elr-list-divider($config: ()) {
    $config: extend((
        border-color: $light-grey
    ), $config);

    $border-color: map-get($config, border-color);

    height: to-rems(1px);
    padding: 0;
    margin: to-rems(5px) 0;
    border-bottom: 1px solid $border-color;
}

@mixin elr-unstyled-list($config: ()) {
    $config: extend((
        align: left
    ), $config);

    $align: get-map($config, align);

    list-style: none;
    padding-left: 0;

    li {
        text-align: $align;
        list-style: none;
        margin-left: 0;
    }
}

@mixin elr-border-list($config: ()) {
    $config: extend((
        align: left,
        border-color: $dark-grey
    ), $config);

    $align: map-get($config, align);
    $border-color: map-get($config, border-color);

    padding: 0;

    li {
        text-align: $align;
        list-style: none;
        padding: to-rems(5px);
        border-bottom: 1px solid $border-color;
        margin: 0;
        margin-left: 0;

        &:first-of-type {
            border-top: 1px solid $border-color;
        }
    }
}

@mixin elr-inline-list($config: ()) {
    $config: extend((
        align: left
    ), $config);

    $align: map-get($config, align);

    text-align: $align;
    padding: 0;

    li {
        padding-left: to-rems(5px);
        padding-right: to-rems(5px);
    }

    li:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }

    li,
    a {
        display: inline-block;
    }
}

@mixin elr-bullet-list($config: ()) {
    $config: extend((
        icon: '\25B6',
        icon-font-size: 80%
    ), $config);

    $icon: map-get($config, icon);
    $icon-font-size: map-get($config, icon-font-size);

    li {
        margin-left: 0;
        padding-left: to-rems(10px);
        list-style: none;

        &:before {
            content: $icon;
            display: inline;
            padding-right: to-rems(10px);
            font-size: $icon-font-size;
            vertical-align: middle;
        }
    }
}

@mixin elr-font-awesome-list($config: ()) {
    $config: extend((
        icon: '',
        icon-font-size: 14px
    ), $config);

    $icon: map-get($config, icon);
    $icon-font-size: map-get($config, icon-font-size);

    margin-left: 0;

    li {
        margin-left: 0;
        padding-left: to-rems(10px);
        list-style: none;

        &:before {
            @include elr-font-awesome($config: (font-size: $icon-font-size));
            content: $icon;
            display: inline;
            padding-right: to-rems(10px);
            vertical-align: middle;
        }
    }
}
