// Lists

// An unstyled list

@mixin elr-list-divider($color: $light-grey) {
    height: 1px;
    padding: 0;
    margin: 5px 0;
    border-bottom: 1px solid $color;
}

@mixin elr-unstyled-list($align: left) {
    list-style: none;
    padding-left: 0;

    li {
        text-align: $align;
        list-style: none;
        margin-left: 0;
    }
}

@mixin elr-border-list($align: left, $border-color: $dark-grey) {
    padding: 0;

    li {
        text-align: $align;
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid $border-color;

        &:first-of-type {
            border-top: 1px solid $border-color;
        }
    }
}

@mixin elr-inline-list($align: left) {
    text-align: $align;

    li:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }

    li,
    a {
        display: inline-block;
    }
}

// bulleted list

@mixin elr-bullet-list($icon: '\25B6', $icon-font-size: 80%) {
    // @include elr-unstyled-list;

    li {
        margin-left: 0;
        padding-left: 10px;
        list-style: none;

        &:before {
            content: $icon;
            display: inline;
            padding-right: 10px;
            font-size: $icon-font-size;
            vertical-align: middle;
        }
    }
}

@mixin elr-font-awesome-list($icon, $icon-font-size: 14px) {
    // @include elr-unstyled-list;

    li {
        margin-left: 0;
        padding-left: 10px;
        list-style: none;

        &:before {
            @include elr-font-awesome($icon-font-size);
            content: $icon;
            display: inline;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
}
