// Accordion

@mixin elr-accordion(
    $label-color: $text-color,
    $border-radius: 0,
    $color: $white,
    $border-color: none,
    $icon-color: $link-color
) {
    margin-top: to-rems(10px);
    margin-bottom: to-rems(10px);

    .elr-accordion-label,
    .elr-accordion-content {
        background-color: $color;

        @if ($border-color != none) {
            border: 1px solid $border-color;
        }

        @if ($border-radius != 0) {
            border-radius: $border-radius;
        }
    }

    .elr-accordion-label {
        margin: 0 0 to-rems(5px);
        padding: to-rems(5px) to-rems(10px);
        font-size: to-rems(18px);
        color: $label-color;
        font-weight: normal;
        position: relative;
        padding-left: to-rems(30px);

        &:hover {
            cursor: pointer;
        }

        &.active {
            .elr-accordion-icon {
                transform: rotate(0deg);
            }
        }
    }

    .elr-accordion-icon {
        font-size: to-rems(14px);
        color: $icon-color;
        transform: rotate(-90deg);
        // background-color: $red;
        line-height: 1;
        position: absolute;
        left: to-rems(15px);
        top: to-rems(9px);
        transition: transform .3s ease-in-out;
    }

    .elr-accordion-content {
        @include elr-slide;
        padding: 0;

        &.active {
            margin-bottom: to-rems(5px);
        }
    }

    .elr-accordion-inner {
        padding: to-rems(10px) to-rems(20px);
    }
}

@mixin elr-accordion-nav($color: transparent, $icon: true) {
    background-color: $color;

    @if $icon {
        .elr-accordion-icon {
            font-size: to-rems(14px);
            transform: rotate(-90deg);
            line-height: 1;
            position: absolute;
            left: to-rems(10px);
            top: to-rems(8px);
            color: $white;
            transition: transform .3s ease-in-out;
        }
    }

    .elr-accordion-nav-label {
        font-weight: $bold;
        position: relative;

        @if $icon {
            padding-left: to-rems(25px);

            &.active {
                .elr-accordion-icon {
                    transform: rotate(0deg);
                }
        }
        }
    }

    .elr-accordion-nav-inner {
        @include elr-slide;
        padding: 0;

        a {
            font-size: to-rems(13px);
            padding-left: to-rems(30px);
        }
    }
}
