@mixin elr-comments($background-color: transparent) {
    max-width: to-rems(700px);

    .example-subheading {
        margin-bottom: to-rems(20px);
    }

    .comment {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: to-rems(20px);

        @if ($background-color != transparent) {
            background-color: $background-color;
            border-radius: to-rems(5px);
            padding: to-rems(20px);
        }
    }

    .comment-nested {
        padding-left: to-rems(30px);
        padding-top: to-rems(10px);
        padding-bottom: 0;
        margin-bottom: 0;
    }

    p {
        font-size: to-rems(14px);
        margin: 0;
        padding: 0;
    }

    .avatar {
        @include elr-thumbnail(null, 50px, 50px, 3px);
        margin-right: to-rems(20px);
    }

    .comment-content {
        max-width: to-rems(630px - 40);
    }

    .comment-heading {
        padding-bottom: to-rems(5px);
        display: flex;
    }

    .comment-author {
        font-size: to-rems(16px);
        font-weight: $bold;
        color: $dark-grey;
        padding: 0;
        margin: 0 to-rems(10px) 0 0;
    }

    .comment-timestamp {
        font-size: to-rems(14px);
        font-weight: $normal;
        color: $darker-grey;
        padding: 0;
        margin: 0;
    }

    .comment-reply {
        font-size: to-rems(12px);
        text-decoration: none;
        color: $link-color;
    }

    .comment-reply-form {
        width: 100%;

        [type="submit"] {
            background-color: $link-color;
            border: 1px solid $link-color;

            &:hover {
                background-color: lighten($link-color, 10%);
                border-color: lighten($link-color, 10%);
            }
        }
    }
}
