// Styles for common data patterns

@mixin elr-contact-info() {
}

@mixin elr-address() {
    span {
        display: block;
    }

    .business-name {
        font-size: 120%;
        font-weight: $bold;
    }
}

@mixin elr-phone($config: ()) {
    $config: extend((
        icon: false
    ), $config);

    $icon: map-get($config, icon);
}

@mixin elr-email($config: ()) {
    $config: extend((
        icon: false
    ), $config);

    $icon: map-get($config, icon);
}
