// Thumbnails

@mixin elr-thumbnail($config: ()) {
    $config: extend((
        border-color: $white,
        width: 150px,
        height: 125px,
        border-radius: 0,
        display: block
    ), $config);

    $border-color: map-get($config, border-color);
    $width: map-get($config, width);
    $height: map-get($config, height);
    $border-radius: map-get($config, border-radius);
    $display: map-get($config, display);

    overflow: hidden;

    @if ($border-color) {
        border: 5px solid $border-color;
        box-shadow: $grey 0 0 0 1px;
    }

    @if $border-radius == 'round' {
        @include elr-circle($config: (radius: $width));
    } @else if $border-radius != 0 {
        @include elr-rectangle(
            $config: (
                width: $width,
                height: $height,
                display: $display,
                border-radius: $border-radius
            )
        );
    } @else if $border-radius == 0 {
        @include elr-rectangle(
            $config: (
                width: $width,
                height: $height,
                display: $display
            )
        );
    }

    img {
        height: 100%;
        width: auto;
    }
}
