// Thumbnails

@mixin elr-thumbnail($border-color: $white, $width: 150px, $height: 125px, $border-radius: 0, $display: block) {
    overflow: hidden;

    @if ($border-color) {
        border: 5px solid $border-color;
        box-shadow: $grey 0 0 0 1px;
    }

    @if $border-radius == 'round' {
        @include elr-circle($width);
    } @else if $border-radius != 0 {
        @include elr-rectangle($width, $height, $display, $border-radius);
    } @else if $border-radius == 0 {
        @include elr-rectangle($width, $height, $display);
    }

    img {
        height: 100%;
        width: auto;
    }
}
