// Buttons

// Styles a rounded button with a 1px border and transparent background
// Useful for <button> and <a> elements

@mixin elr-button($config: ()) {
    $config: extend((
        font-size: 14px,
        width: null,
        border-radius: 3px
    ), $config);

    $font-size: map-get($config, font-size);
    $width: map-get($config, width);
    $border-radius: map-get($config, border-radius);

    padding: to-rems(10px) to-rems(20px);
    font-size: to-rems($font-size);
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    font-weight: $bold;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    transition: background-color, .3s, color, .3s;

    @if $width {
        width: $width;
    }

    @if $border-radius {
        border-radius: $border-radius;
    }

    &:hover,
    &.active {
        text-decoration: none;
        text-shadow: none;
        box-shadow: none;
    }
}

@mixin elr-button-link($config: ()) {
    $config: extend((
        color: $white,
        bg-color: $link-color,
        border-color: null,
        hv-color: lighten($bg-color, 10%),
        border-radius: 3px,
        pill: false
    ), $config);

    $color: map-get($config, color);
    $bg-color: map-get($config, bg-color);
    $border-color: map-get($config, border-color);
    $hv-color: map-get($config, hv-color);
    $pill: map-get($config, pill);

    color: $color;
    background-color: $bg-color;

    @if $border-color {
        border-color: $border-color;
    } @else {
        border-color: $bg-color;
    }

    @if $pill {
        border-radius: to-rems(100px);
    } @else {
        border-radius: 3px;
    }

    &:hover,
    &.active {
        @if $border-color {
            border-color: $border-color;
        } @else {
            border-color: $hv-color;
        }

        @if ($hv-color == $color) and ($bg-color == transparent) {
            color: $white;
        } @elseif $hv-color == $color {
            color: $bg-color;
        }

        background-color: $hv-color;
    }
}
