// Button Groups

@mixin elr-button-group($config: ()) {
    $config: extend((
        border-radius: 3px,
        direction: row,
        width: auto
    ), $config);

    $border-radius: map-get($config, border-radius);
    $direction: map-get($config, direction);
    $width: map-get($config, width);

    border-collapse: collapse;
    display: flex;
    flex-direction: $direction;

    @include elr-breakpoint($config: (point: 'neptune')) {
        flex-direction: column;

        // @if $border-radius != 0 {
        //     .elr-button {
        //         &:first-of-type {
        //             border-radius: $border-radius $border-radius 0 0;
        //         }

        //         &:last-of-type {
        //             border-radius: 0 0 $border-radius $border-radius;
        //         }
        //     }
        // }
    }

    .elr-button {
        margin: 0;
        border-left-width: 0;
        border-radius: 0;
        font-size: to-rems(14px);
        line-height: 1;
        width: $width;

        &:first-of-type { border-left-width: 1px; }

        @if $border-radius != 0 and $direction == row {
            &:first-of-type {
                border-radius: $border-radius 0 0 $border-radius;
            }

            &:last-of-type {
                border-radius: 0 $border-radius $border-radius 0;
            }

            // @include elr-breakpoint('saturn') {
            //     &:first-of-type {
            //         border-radius: $border-radius $border-radius 0 0;
            //     }

            //     &:last-of-type {
            //         border-radius: 0 0 $border-radius $border-radius;
            //     }
            // }
        } @elseif $border-radius != 0 and $direction == column {
            display: inline-block;

            &:first-of-type { border-radius: $border-radius $border-radius 0 0; }
            &:last-of-type { border-radius: 0 0 $border-radius $border-radius; }
        }
    }
}
