// Context Buttons

@mixin elr-context-button($config: ()) {
    $config: extend((
        type: info,
        color: $white,
        width: 300px,
        center: left,
        border-radius: 3px,
        display: inline-block
    ), $config);

    $type: map-get($config, type);
    $color: map-get($config, color);
    $width: map-get($config, width);
    $center: map-get($config, center);
    $border-radius: map-get($config, border-radius);
    $display: map-get($config, display);

    @if $type == info {
        $bk-color: $info-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == danger {
        $bk-color: $danger-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == warning {
        $bk-color: $warning-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == success {
        $bk-color: $success-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == muted {
        $bk-color: $muted-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    }
}
