@mixin elr-font-awesome-button($icon-position: null, $round: false, $width: auto) {
    width: $width;
    position: relative;

    &::before {
        @include elr-font-awesome(105%);
    }

    @if $icon-position == 'left' {
        padding-left: 40px;

        &::before {
            @include elr-centerer(true, false);
            display: block;
            left: 20px;
        }
    } @elseif $icon-position == 'right' {
        padding-right: 40px;

        &::before {
            @include elr-centerer(true, false);
            display: block;
            right: 20px;
        }
    } @else {
        height: $width - 3;

        &::before {
            @include elr-centerer;
            font-size: 18px;
        }
    }

    @if $icon-position == null and $round == true {
        border-radius: 50%;
        height: $width;
    }
}
