// Circles

// Creates a circular element

@mixin elr-circle($config: ()) {
    $config: extend((
        diameter: 300px,
        display: block
    ), $config);

    $diameter: map-get($config, diameter);
    $display: map-get($config, display);

    display: $display;
    width: $diameter;
    height: $diameter;
    border-radius: $diameter;
}
