// EM Conversion Mixins

// calculates em font size from px font size
// should be deprecated in favor of to-rems function

@mixin elr-em-font($config: ()) {
    $config: extend((
        size: 16px
    ), $config);

    $size: map-get($config, size);

    font-size: to-rems($size);
}
