// Layout

@mixin elr-reset-element() {
    margin: 0;
    padding: 0;
    line-height: 1;
}

// Modern clearfix
// Use instead of overflow:hidden to clear floats

@mixin elr-clearfix() {
    &:after,
    &:before {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin elr-screen-reader() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Centers an element horizontally on the page

@mixin elr-center-block($config: ()) {
    $config: extend((
        width: null
    ), $config);

    $width: map-get($config, width);

    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;

    @if $width != null {
        width: $width;
    }
}

@mixin elr-centerer($config: ()) {
    $config: extend((
        vertical: true,
        horizontal: true
    ), $config);

    $vertical: map-get($config, vertical);
    $horizontal: map-get($config, horizontal);

    position: absolute;

    @if ($vertical and $horizontal) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

// provide width and height with no units to calculate ratio
// for a square provide equal width & height
@mixin elr-ratiobox ($config: ()) {
    $config: extend((
        width 300,
        height 300
    ), $config);

    $width: map-get($config, width);
    $height: map-get($config, height);

    $img-ratio: get-aspect-ratio($width, $height);

    display: inline-block;
    position: relative;

    &::after {
        content: '';
        padding-top: $img-ratio * 100%;
        display: block;
    }

    .elr-ratiobox-inner {
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .elr-ratiobox-centeredtext {
        @include elr-centerer(
            $config: (
                vertical: true,
                horizontal: false
            )
        );
        text-align: center;
        padding: 0 20px;
        width: 100%;
    }

    .elr-ratiobox-img-wrapper {
        height: 100%;
        overflow: hidden;
    }

    .elr-ratiobox-img {
        transform: translate(-50%, -50%);
        position: relative;
        left: 50%;
        top: 50%;
        width: auto;
        max-width: none;
        height: 100%;
    }

    .elr-box-link {
        display: block;
        height: 100%;
    }
}
