// Grids
// TODO: need the ability to have tiles that are 2 columns wide
// http://bulma.io/documentation/grid/tiles/

@mixin elr-grid-item() {
    padding: 0;
    background-color: $lightest-grey;
    border-radius: 5px;
    color: $dark-grey;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    overflow: hidden;

    img {
        margin: 0;
        width: 100%;
    }

    .overlay {
        background-color: rgba($white, .5);
        width: 100%;
        z-index: 100;
        border-radius: 5px 5px 0 0;
        position: absolute;
        cursor: pointer;
    }

    .caption {
        padding: 10px;

        h1 {
            font-size: to-rems(16px);
            color: $elr-blue;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: to-rems(14px);
            margin: 0;
            padding: 0;
        }

        p {
            font-size: to-rems(14px);
            margin: 0;
            padding: 0;
        }

        ul {
            @include elr-clearfix;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 5px 5px 5px 0;
            padding: 2px 10px;
            color: $white;
            background-color: $elr-blue;
            border-radius: 3px;
            list-style: none;
            display: inline-block;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@mixin elr-flexible-grid($config: ()) {
    $config: extend((
        images-per-row: 4
    ), $config);

    $images-per-row: map-get($config, images-per-row);

    @include elr-clearfix;
    background-color: $white;
    position: relative;
    padding: 0;
    column-count: $images-per-row;
    column-gap: 10px;
    width: 100%;
    transition: all;

    @include elr-breakpoint($config: (point: 'saturn')) {
        // TODO: need to check if images-per-row is an odd #
        column-count: ($images-per-row / 2);
    }

    @include elr-breakpoint($config: (point: 'neptune')) {
        column-count: 1;
    }
}
