// Rectangles
// Creates a rectangular element

@mixin elr-rectangle($config: ()) {
    $config: extend((
        width: 300px,
        height: 300px,
        display: block,
        border-radius: 0
    ), $config);

    $width: map-get($config, width);
    $height: map-get($config, height);
    $display: map-get($config, display);
    $border-radius: map-get($config, border-radius);

    width: to-rems($width);
    height: to-rems($height);
    display: $display;

    @if ($border-radius != 0) {
        border-radius: $border-radius;
    }
}

// Creates a square element

@mixin elr-square($config: ()) {
    $config: extend((
        width: 300px,
        display: block,
        border-radius: 0
    ), $config);

    $width: map-get($config, width);
    $display: map-get($config, display);
    $border-radius: map-get($config, border-radius);

    @include elr-rectangle(
        $config: (
            height: $width,
            width: $width,
            display: $display,
            border-radius: $border-radius
        )
    );
}
